.group {
  position: relative;
  margin-block: 30px;

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
      color: $secondary-color;

      &::first-letter {
        text-transform: capitalize;
      }
    }
    .link {
      margin-block: 5px;
      background-color: $brand-color-2;
      padding: 5px 10px;
      border-radius: 7px;
      min-width: 30%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        font-family: $mont;
        font-size: 0.85rem;
        font-weight: 500;
        color: $text-color-black;
        cursor: pointer;
      }
      i {
        color: $text-color-white;
        cursor: pointer;

        &:hover {
          color: $secondary-color;
          transform: scale(1.09);
        }
      }
    }
  }

  // Empty state styling
  .empty {
    position: relative;
    width: 100%;
    min-height: 70vh;
    display: grid;
    place-items: center;

    img {
      display: block;
      margin-inline: auto;
    }
    h1 {
      color: $text-color-white;
      text-align: center;

      @include mobile {
        font-size: 1.2rem;
      }
      @include tablet {
        font-size: 1.5rem;
      }
      @include laptop {
        font-size: 2rem;
      }
      @include desktop {
        font-size: 2rem;
      }
    }
  }

  .message {
    &__container {
      width: 70%;
      margin-inline: auto;
      // margin-top: 20px;
      margin-block: 50px;
      padding-bottom: 20px;
      display: grid;
      gap: 15px;

      @include mobile {
        width: 90%;
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }
      @include tablet {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
      @include laptop {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }
      @include desktop {
        grid-template-columns: repeat(4, minmax(0, 1fr));
      }
    }

    &__item {
      // outline: 1px solid $secondary-color;
      border-radius: 10px;
      padding: 15px;
      font-family: $mont;
      color: $text-color-white;
      font-weight: 500;
      line-height: 1.6;
      font-size: 0.85rem;
      background-color: $brand-color-2;
      // align-self: flex-start;

      .message-info {
        position: relative;
        font-family: $serif;
        color: $secondary-color;
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 10px;

        .menu {
          color: $text-color-grey-100;
          font-size: 1rem;
          margin-left: auto;
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 10px;

          i {
            color: $text-color-grey-100;

            &.delete {
              &:hover {
                color: rgb(169, 56, 56);
              }
            }
          }
        }
      }
      .message__recieved {
        white-space: break-spaces;
        text-align: left;
      }
      .images {
        border-top: 1px solid rgb(187, 187, 187);
        padding: 10px 0 0 0;
        margin-top: 20px;
        display: grid;
        gap: 10px;

        @include mobile {
          grid-template-columns: repeat(4, minmax(0, 1fr));
        }
        @include tablet {
          grid-template-columns: repeat(4, minmax(0, 1fr));
        }
        @include laptop {
          grid-template-columns: repeat(4, minmax(0, 1fr));
        }
        @include desktop {
          grid-template-columns: repeat(4, minmax(0, 1fr));
        }

        img {
          // width: 20px;
          // height: 20px;
          // outline: 1px solid red;
          border-radius: 5px;
          cursor: pointer;

          &:hover {
            outline: 2px solid $secondary-color;
          }
        }
      }
    }
  }
}
