main {
  background-color: $brand-color;
  color: $text-color-white;
  min-height: 80vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5px;

  h1 {
    text-align: center;
    color: $secondary-color;
    font-weight: 400;
    line-height: 1.2;
    opacity: 0;
    animation: slideup 0.45s cubic-bezier(0.07, 0.01, 0.6, 1.57) forwards;

    @include mobile {
      font-size: 2.2rem;
      margin-bottom: 10px;
    }
    @include tablet {
      font-size: 3.6rem;
    }
    @include laptop {
      font-size: 5rem;
    }
    @include desktop {
      width: 60%;
      font-size: 5rem;
    }
  }
  p {
    font-size: 1.1rem;
    font-family: $mont;
    font-weight: 400;

    text-align: center;
    opacity: 0;
    animation: slideup 0.45s cubic-bezier(0.07, 0.01, 0.6, 1.57) 0.45s forwards;

    @include mobile {
      width: 90%;
      font-size: 0.75rem;
    }
    @include tablet {
      font-size: 0.9rem;
    }
    @include laptop {
      width: 60%;
    }
    @include desktop {
      width: 40%;
    }
  }
  .cta {
    width: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
    opacity: 0;
    animation: slideup 0.45s cubic-bezier(0.07, 0.01, 0.6, 1.57) 0.9s forwards;

    @include mobile {
      flex-direction: column;
      width: 80%;
    }
    @include tablet {
      width: 70%;
    }

    &__link {
      padding: 15px 50px;

      border-radius: 5px;
      color: $text-color-white;
      text-decoration: none;
      text-align: center;

      &.primary {
        // background-color: $brand-color-2;
        background-color: $secondary-color;
        color: $text-color-black;
        transition: box-shadow 0.1s ease;

        &:hover {
          box-shadow: 0 3px 13px rgba($color: #000000, $alpha: 0.2);
        }
      }
      &.secondary {
        outline: 1px solid $secondary-color;
      }
    }
  }
}
