.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12px 0;
  border-radius: 5px;
  background-color: $secondary-color;
  color: $text-color-black;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.2s ease;
  overflow: hidden;
  z-index: 10;

  &:active {
    outline: 2px solid #000000;
    box-shadow: 0 5px 13px rgba($color: #000000, $alpha: 0.3);
  }

  &:hover {
    box-shadow: 0 5px 13px rgba($color: #000000, $alpha: 0.3);
    outline: 2px solid #000000;
  }
  &:focus {
    outline: 2px solid #000000;
  }
  &.loading {
    position: relative;
    z-index: 2;
    color: $text-color-black;
    user-select: none;
    pointer-events: none;
    cursor: wait;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -100%;
      width: 300%;
      height: 100%;
      background: $secondary-color
        repeating-linear-gradient(
          60deg,
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0.2) 10px,
          lighten($color: $secondary-color, $amount: 0%) 10px,
          lighten($color: $secondary-color, $amount: 0%) 20px
        );
      z-index: -1;
      animation: loading 1s infinite linear;
    }
  }
}
