@keyframes slideup {
  0% {
    opacity: 0;
    // transform: translateY(50px);
    // transform: scale(0.6);
  }
  100% {
    opacity: 1;
    // transform: translateY(0);
    // transform: scale(1);
  }
}

// Animation when button is loading
@keyframes loading {
  0% {
    transform: translateX(-25px);
  }
  100% {
    transform: translateX(20px);
  }
}

// Animation for notifaction
@keyframes movein {
  0% {
    right: -100%;
  }
  100% {
    right: 20px;
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes focus {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}
