@keyframes slideup {
  0% {
    opacity: 0;
    // transform: translateY(50px);
    // transform: scale(0.6);
  }
  100% {
    opacity: 1;
    // transform: translateY(0);
    // transform: scale(1);
  }
}

// Animation when button is loading
@keyframes loading {
  0% {
    transform: translateX(-25px);
  }
  100% {
    transform: translateX(20px);
  }
}
