$brand-color: #285430;
$brand-color-2: #5f8d4e;
$brand-color-3: #282a3a;
// $secondary-color: #ffe15d;
$secondary-color: #fedb39;

// Text color
$text-color-white: #fff;
$text-color-black: #000;
$text-color-grey-100: #ccc;
$text-color-grey-200: #707070;

// Font family
$serif: "DM Serif Display", serif;
$mont: "Montserrat", sans-serif;
