.admin {
  position: relative;

  // header {
  //   text-align: center;
  // }

  &__users {
    position: relative;
    margin-block: 30px;
    padding-bottom: 30px;

    header {
      h4 {
        font-size: 1.2rem;
        color: $text-color-grey-100;
        font-family: $serif;
        letter-spacing: 1px;
        font-weight: 600;
        margin-bottom: 20px;
      }
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      gap: 20px;
      position: relative;
      outline: 1px solid $text-color-grey-100;
      border-radius: 7px;
      padding: 20px 0;

      .user {
        width: 100%;

        a {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 15px 30px;
          // background-color: lighten($color: $brand-color-2, $amount: 10%);
          border-radius: 7px;
          color: $text-color-white;
          box-sizing: initial;
          // font-family: $mont;

          @include mobile {
            font-size: 0.9rem;
          }

          &:hover {
            border-radius: 0;
            background-color: $brand-color-2;
            border-top: 1px solid $text-color-grey-100;
            border-bottom: 1px solid $text-color-grey-100;
            border-right: 1px solid transparent;
            border-left: 1px solid transparent;
          }
        }
        &__date {
          @include mobile {
            display: none;
          }
        }
      }
    }
  }
}
